<%= render "shared/header" %>
<div class="search-main">
  <div class="search-leftSide">
    <br>
    <%= link_to 'トップページへ戻る', root_path %>
    <br>
    <%= search_form_for @q, url: search_items_path, html: {id: "detailed-search-form"} do |f| %>
      <%# 商品名で絞る %>
      <div>
        <%= f.label :name_cont, '商品名' %>
        <br>
        <%= f.text_field :name, placeholder: '商品名', value: params[:q]&.dig(:name) %>
      </div>
      <%# カテゴリで絞る %>
      <div class="serch-field">
        <%= f.label :category_id_in, 'カテゴリ' %>
        <br>
        <%= f.collection_check_boxes(:category_id_in, Category.all, :id, :name, {include_blank: "---"}) %>
      </div>
      <%# 価格で検索 %>
      <div class="search-field">
        <%= f.label :price_gteq, '価格' %>
        <br>
        <%= f.number_field :price_gteq %> 円以上
        <br>
        <%= f.number_field :price_lteq %> 円以下
      </div>
      <div class="search-field">
        <%= f.label :user_nickname_cont, '出品者名' %>
        <br>
        <%= f.text_field :user_nickname_cont, placeholder: '出品者名' %>
      </div>
      <%= f.submit '検索' %>
    <%end%>
  </div>
  <div class="search-rightSide">
    <% @items.each do |item| %>
    <div class="search-item" id="item-box">
      <%= image_tag item.image, class: 'item-image' %>
      <%= item.name %>
    </div>
    <%end%>
  </div>
</div>